.header {
  margin-top:10px;
  background-color: #009688;
  padding: 7px;
  color: white;
  text-align: center;
  h2 {
    margin-bottom: 0px;
  }
}

.success {
  margin-top: 10px;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .amount {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .reference-number {
    font-weight: bold;
    color: #007bff;
  }  